@model AppFluxoDeCaixa.Models.Clientes

@{
    ViewData["Title"] = "Apagar";
}

<h1 class="display-5 text-light text-center">Deletar cadastro de Cliente</h1>

<h3 class="mt-3 mb-3">Deseja excluir este cadastro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.ClientesNome)
        </dt>
        <dd class="col-9">
            @Html.DisplayFor(model => model.ClientesNome)
        </dd>

        <dt class="col-3">
            @Model.Email)
        </dt>
        <dd class="col-9">
            @Model.Email)
        </dd>
       
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class="col-9">
            @Html.DisplayFor(model => model.Celular)
        </dd>
       
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.CpfCnpj)
        </dt>
        <dd class="col-9">
            @Html.DisplayFor(model => model.CpfCnpj)
        </dd>
       
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.DataNascFundacao)
        </dt>
        <dd class="col-9">
            @Html.DisplayFor(model => model.DataNascFundacao)
        </dd>
       
        
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ClientesId" />

        <div class="row">

        <div class="col col-md-4 mt-4">
        <a  class="btn btn-outline-secondary w-100" asp-action="Index">Cancelar</a>

        </div >

            <div class="col-2 col-md mt-4">
            </div>

        <div class="col col-md-4 mt-4">
        <input type="submit" value="Excluir" class="btn btn-danger w-100" /> 

        </div>
        </div>
    </form>
</div>
